

.form-input{
    margin:5px;
    border: none;
    /* border-bottom: 1px solid grey; */
    width: fit-content;
    padding: 5px;
    box-shadow: 0 0 5px grey;
}
.border-btn{
    background-color: rgb(96, 75, 194);
    border: none;
}
