 

 .item{
    margin-top: 50px;
    width: 200px;
    height: auto;
}
.val{
    color: purple;
}

.title{
    text-align: center;
    /* font-size: 20%; */
}
.chart .title{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 90%;
   margin-top: 80px; 
}